<nav class="ui menu">
  <header class="ui header item">
    <a id="home" href="/home">Weathertop 2.0</a></header>
  <h3 style="padding-left:25px">
      WeatherTop Services Inc.  
  </h3>
  <div class="right menu">
    <a id="dashboard" class="item" href="/dashboard"> Dashboard  </a>
    <a id="about" class="item" href="/about"> About </a>
    <a id="logout" class="item" href="/logout"> Logout </a>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>
