{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h3>
    Weathertop 2.0
  </h3>
  <p>
    Monitor latest weather station readings
  </p>
  <div class="column">
        <img style="margin: auto" class="ui image" src="https://cdn.glitch.com/1040facd-fe91-4945-a27b-32340edd0829%2Fweather-icons.jpg?v=1630950391526">
    </div>
</section>